@model IEnumerable<EBBS.Data.Post>

<br />
<div>
    <h2><span class="mySpan">  My Posts</span></h2>
</div>
<hr />
<body id="grad">

    <div class="row">

        @foreach (var item in Model)
        {

            <section class="container">
                <div class="col-md-12; post">
                    <article>
                        <div class="form-group">
                            <div id="@item.pId">

                                <header class="modal-title">
                                    <div class="form-group" style="align-content:stretch">
                                        <h3><i class="glyphicon glyphicon-pencil"></i> @item.postTitle</h3>
                                    </div>
                                </header>

                                <p>@Html.DisplayFor(modelItem => item.postContent)</p>

                                @if (item.mediaType == "image/jpeg" || item.mediaType == "image/jpg")
                                {
                                    <img align="middle" src="~/images/@item.mediaPath" width="250" height="250" />
                                }
                                else if (item.mediaType == "video/mp4")
                                {
                                    <video width="500" height="500" controls>
                                        <source src="~/images/@item.mediaPath" type="@item.mediaType">
                                        Your browser does not support the video tag.
                                    </video>
                                }

                                <p>Category: @Html.DisplayFor(modelItem => item.Category.categoryName)</p>
                                <p>Posted On: @Html.DisplayFor(modelItem => item.createTime) </p>
                                <p>Created By: @item.User.firstName @item.User.lastName</p>

                                <a href="/Post/Delete/@item.pId" class="btn btn-danger"><i class=" glyphicon glyphicon-trash"></i> Delete</a>
                                <a href="/Post/Edit/@item.pId" class="btn btn-success"><i class=" glyphicon glyphicon-edit"></i> Edit</a>
                                <a href="/Post/Details/@item.pId" class="btn btn-info"><i class=" glyphicon glyphicon-eye-open"></i> Details</a>

                            </div>
                        </div>
                        <br />
                        <br />
                        <hr />

                    </article>
                </div>
            </section>
        }

    </div>
</body>