@model EBBS.Models.CategoryVm
@using EBBS.Models
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<div>
    <h4 style="color:green">@Html.Raw(TempData["message"])</h4>
    <h4 style="color:green">@Html.Raw(TempData["editMessage"])</h4>
    <h4 style="color:green">@Html.Raw(TempData["deleteMessage"])</h4>

</div>

<legend> Categories List </legend>
<div class="form-group" style="float: right">
    <button class="btn" style="background-color:lightgoldenrodyellow" onclick="location.href = '@Url.Action("Create","Category")'" type="button"><i class="glyphicon glyphicon-plus-sign"></i> Create New Category</button>

</div>

@if (Model.Category.Count() != 0)
{
    <div class="input-group" style="float: left">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input style="background-color:khaki; color: black" type="text" id="search" placeholder="Search Category" />

    </div>

    <br />
    <table class="table table-bordered table-hover table-responsive" style="table-layout: fixed">
        <tr class="bg-info">
            <th>
                @Html.DisplayNameFor(model => model.cId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creatorId)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.createTime)
            </th>
            <th>Operations</th>
        </tr>
        @foreach (var item in Model.Category)
        {
            <tr class="searchRecord">
                <td>
                    @Html.DisplayFor(modelItem => item.cId)
                </td>
                <td class="longString">
                    @Html.DisplayFor(modelItem => item.categoryName)
                </td>
                <td class="longString">
                    @Html.DisplayFor(modelItem => item.description)
                </td> 
                <td>@item.User.firstName @item.User.lastName </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createTime)
                </td>
                <td>
                     |
                    <a class="btn btn-info" href="/Category/Details/@item.cId"><i class="glyphicon glyphicon-eye-open"></i> </a> |
                     @if(ViewBag.userType == "Admin") { 
                    <a class="btn btn-success" href="/Category/Edit/@item.cId"><i class="glyphicon glyphicon-edit"></i> </a>
                    <a class="btn btn-danger" href="/Category/Delete/@item.cId"><i class="glyphicon glyphicon-remove-sign"></i> </a>
                     }
                     <a href="/Post/CategoryPosts/@item.cId" class="btn btn-info posts" >View Posts</a>
                </td>
            </tr>
        }
    </table>

    @Html.PagedListPager(Model.Category, Page => Url.Action("Index", "Category", new { Page, pageSize = Model.Category.PageSize }))



}
else
{
    <h4 style="color: orange"> -- No Categories Found --</h4>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/myscripts.js"></script>
}