@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Application Title -->
    <title>@ViewBag.Title - EBBS Application</title>
    <!-- reference to custome css file here -->
    <link rel="stylesheet" href="~/Content/Site.css" />
    <!-- reference to css file here -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- reference your copy Font Awesome here (from our CDN or by hosting yourself) -->
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body style="width:100%;max-width:100%">
    <div class="navbar navbar-inverse navbar-fixed-top" style="width:100%;max-width:100%">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-left">
                    <li><a href="/Account/Login"><img src="~/images/EBBSLOGO.png" style="width:50%" height="47"/></a></li>
                </ul>
            </div>

            <!-- Main Links display in Navigation -->
            <ul class="nav navbar-nav">
                <!-- Links display in Navigation by default-->
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>

                <!-- Main Links display in Navigation once user logged into the system -->
                @if (Session["lUser"] != null)
                {

                    <li class="dropdown">
                        <a class="nav-link"><i class="fa fa-globe"></i> <span>Bullet Home</span></a>
                        <div class="dropdown-content">
                            <a class="dropdown-item" href="/Statistics/index">EBBS Post Statistics</a>
                            <a class="dropdown-item" href="/Statistics/UsersStats">EBBS User Statistics</a>
                            <a class="dropdown-item" href="/Category/index">Board Wise Posts</a>
                            <a class="dropdown-item" href="/Post/index">All Posts</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link"><i class="fas fa-user-circle"></i> <span>My Account</span></a>
                        <div class="dropdown-content">
                            <a class="dropdown-item" href="/Post/MyPosts">My Posts</a>
                            <a class="dropdown-item" href="/Comment/MyComments">My Comments</a>
                        </div>
                    </li>


                    if (((EBBS.Data.User)Session["lUser"]).userType < 3)
                    {<!-- Manage EBBS Links only display in Navigation for Admin -->
                        <li class="dropdown">
                            <a class="nav-link"><i class="fas fa-cog"></i> <span>Manage EBBS</span></a>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="/User/Index">EBBS Users</a>
                                <a class="dropdown-item" href="/Log/Index">EBBS User Logs</a>
                                <a class="dropdown-item" href="/Report/Index">EBBS Reported Posts</a>
                                <a class="dropdown-item" href="/SecurityQuestion/Index">EBBS Security Questions</a>
                                <a class="dropdown-item" href="/Role/Index">EBBS User Roles</a>
                            </div>
                        </li>
                    }

                    <!-- Nav Item - User Information -->
                    <li class="nav navbar-right">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="circular--square ;nav navbar-right" width="50" height="50" src="~/images/@(((EBBS.Data.User)Session["lUser"]).userImage)" />

                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in dropdown-content" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/My/Index"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> View My Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400 ;nav dr"></i> Logout </a>
                        </div>
                    </li>

                }
            </ul>

        </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 style="text-align:center"><span class="mySpan">  Log Me Out</span></h2>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div id="grad" class="modal-body"><h3 style="color:red"><b>Are you sure you want to "Logout"?.</b></h3></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/Account/LogMeOut"><img src="~/images/Userlogout.png" width="23" height="23">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container body-content">
        <div class="text-left"> <h4 style="color:green">@Html.Raw(TempData["registrationConfirmation"])</h4> </div>
        <!-- Render the view inside this div  -->
        @RenderBody()
        <hr />
        <!-- Footer -->
        <div align="center">
            <footer>
                <p>&copy; @DateTime.Now.Year - EBBS Application</p>
            </footer>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Scripts for field validations -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
