@using PagedList
@using PagedList.Mvc
@model IPagedList<EBBS.Data.User>

@{
    ViewBag.Title = "Index";
}


<br />
<br />

<div>
    <h2><span class="mySpan"> EBBS Users</span></h2>
</div>

<hr />

<body id="grad">


    @if (Model.Count() != 0)
    {

        <div>
            <h4 style="color:green">@Html.Raw(TempData["message"])</h4>
            <h4 style="color:green">@Html.Raw(TempData["editMessage"])</h4>
            <h4 style="color:green">@Html.Raw(TempData["deleteMessage"])</h4>
        </div>

        <div class="input-group" style="float: left">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" style="background-color:khaki; color: black" type="text" id="search" placeholder="Search User" />
        </div>

        <br />

        <table class="table table-bordered table-hover table-responsive" style="table-layout: fixed">
            <tr class="bg-info" style="background-color: lightgrey">
                <th>
                    @Html.DisplayNameFor(model => model.First().userImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().userId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().firstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().lastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Role.roleName)
                </th>


                <th colspan="4">Operations</th>
            </tr>




            @foreach (var item in Model)
            {
                <tr class="searchRecord">
                    <td class="test" style="text-overflow:ellipsis;">
                        <img class="circular--square" src="~/images/@item.userImage" onerror="this.src='~/images/Kunal.jpg'" width="50" height="50" id="userImage" />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.userId)
                    </td>
                    <td class="test" style="text-overflow:ellipsis;">
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td class="test" style="text-overflow:ellipsis;">
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td class="test" style="text-overflow:ellipsis;">
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td class="test" style="text-overflow:ellipsis;">
                        @Html.DisplayFor(modelItem => item.Role.roleName)
                    </td>


                    <td colspan="4">
                        <button class="btn promote" id="@item.userId" style="background-color:salmon" type="button"><i class="glyphicon glyphicon-queen"></i> Promote</button>|
                        <button class="btn btn-info" onclick="location.href = '@Url.Action("Details", new { id=item.userId })'" type="button"><i class="glyphicon glyphicon-eye-open"></i> Details</button> |
                        <button class="btn btn-danger" onclick="location.href = '@Url.Action("Delete", "User",new { id=item.userId })'" type="button"><i class="glyphicon glyphicon-remove-sign"></i> Delete</button>

                    </td>
                </tr>
            }

        </table>
        <br />

        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))

    }
    else
    {
        <h4 style="color: orange"> -- No Users Found --</h4>
    }


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2><span class="mySpan"> Promote User</span></h2>
                </div>
                <div class="modal-body" id="grad">
                    <input type="hidden" value="" id="userId" />
                    <select id="userType" name="rId" class="form-control">
                        <option>Select Role (*)</option>
                        @foreach (var role in (List<EBBS.Data.Role>)ViewBag.roles)
                        {
                            
                            <option value="@role.rId">@role.roleName</option>

                        }
                    </select>


                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" id="promote" style="background-color:salmon" type="button"><i class="glyphicon glyphicon-queen"></i> Promote</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

   


</body>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/myscripts.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>



    <script type="text/javascript">
        $(".promote").click(function () {
            var userId = $(this).attr("id");
            $("#myModal").modal("show");

            $("input#userId").val(userId);


        });


        $("a#promote").click(function (e) {
            e.preventDefault();

            var userId = $("input#userId").val();
            var userType = $("#userType").val();

            $.ajax({
                type: 'POST',
                data: { userId: userId, userType: userType },
                url: '/User/Promote',
                dataType: 'json',
                success: function (response) {
                    alert(response);
                    window.location.href = "/User/Index";

                },
                error: function (a, b, c) {


                }


            });

        });

    </script>

}
