 @model IEnumerable<EBBS.Data.User>
@*@using PagedList
@using PagedList.Mvc*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.roleName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.createTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.lastLogin)
        </th>



        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.roleName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.createTime)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.lastLogin)
        </td>





        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.userId }) |
            @Html.ActionLink("Details", "Details", new { id = item.userId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.userId })
        </td>
    </tr>
}

</table>
