@model EBBS.Models.SecurityQuestionVm
@using EBBS.Models
@using PagedList.Mvc;
@using PagedList;


@{
    ViewBag.Title = "";
}
<br/>
<br />

<div>
    <h2><span class="mySpan"> Security Questions</span></h2>
</div>

<hr />



<body id="grad">
    @*Button for add a new record*@
    <div class="form-group" style="float: right">
        <button class="btn" style="background-color:lightgoldenrodyellow; color: black" onclick="location.href = '@Url.Action("Create","SecurityQuestion")'" type="button"><i class="glyphicon glyphicon-plus-sign"></i> Create New Security Question</button>
    </div>
    @*if there are records exists in the database, list down the records*@
    @if (Model.Question.Count() != 0)
    {
        //Sow the success messages
        <div class="text-left">
            <h4 style="color:green">@Html.Raw(TempData["message"])</h4>
            <h4 style="color:green">@Html.Raw(TempData["editMessage"])</h4>
            <h4 style="color:green">@Html.Raw(TempData["deleteMessage"])</h4>
        </div>

        //Search box for record
        <div class="input-group" style="float: left">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" style="background-color:khaki; color: black" type="text" id="search" placeholder="Search Security Question" />
        </div>

        <br />

        //List down all the records in a table
        <table class="table table-bordered table-hover table-responsive" style="table-layout: fixed">
            <tr class="bg-info" style="background-color: lightgrey">
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.qId)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th class="text-center">Operations</th>
            </tr>
            @foreach (var item in Model.Question)
            {
                <tr class="searchRecord">
                    <td>
                        @Html.DisplayFor(modelItem => item.qId)
                    </td>
                    <td class="test" style="text-overflow:ellipsis;">
                        @Html.DisplayFor(modelItem => item.question)
                    </td>
                    <td>
                        <button class="btn btn-success" onclick="location.href = '@Url.Action("Edit", new { id=item.qId })'" type="button"><i class="glyphicon glyphicon-edit"></i> Edit</button> |
                        <button class="btn btn-danger" onclick="location.href = '@Url.Action("Delete", "SecurityQuestion",new { id=item.qId })'" type="button"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                    </td>
                </tr>
            }
        </table>
        <br />
        //Pagelist bar for the page
        @Html.PagedListPager(Model.Question, Page => Url.Action("Index", "SecurityQuestion", new { Page, pageSize = Model.Question.PageSize }))
    }
    @*if there is no records exists in the database, show the No results Found message*@
    else
    {
        <h4 style="color: orange"> -- No Security Questions Found --</h4>
    }

</body>

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/myscripts.js"></script>
    }
