@foreach (var question in (List<EBBS.Data.SecurityQuestion>)ViewBag.securityQuestions)
{

}

@*<h1>Please select your security question:</h1>
<input type="text" class="form-control" id="username" />*@
@*<select class="form-control" id="qSelect">
    @foreach (var question in (List<EBBS.Data.SecurityQuestion>)ViewBag.securityQuestions)
    {
        <option value="@question.qId">@question.question</option>
    }
</select>
<input type="text" class="form-control" id="qAnswer" />
<a href="#" class="btn btn-primary" id="check">Check Security Question and Answer</a>*@




<body id="grad">
    @using (Html.BeginForm("ForgotPassword", "My", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="container" style="margin-top: 10%">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 alert alert-info">
                    <h3 class="text-center">Validate Security Question</h3>
                    <form id="forgetpasswordform">
                        <div>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input class="form-control" type="email" id="username" placeholder="Enter Username (*)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-eye-close"></i></span>

                                <select class="form-control" id="qSelect">
                                    @foreach (var question in (List<EBBS.Data.SecurityQuestion>)ViewBag.securityQuestions)
                                    {
                                    <option value="" selected disabled hidden>Select Security Question (*)</option>
                                        <option value="@question.qId">@question.question</option>

                                    }

                                </select>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
                                <input class="form-control" type="text" name="answer" id="qAnswer" placeholder="Enter Answer (*)" />
                            </div>
                        </div>

                    </form>
                    <div class="form-group">
                        <button class="btn btn-primary form-control" id="check" type="submit"><i class="glyphicon glyphicon-search"></i>  Validate</button>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn form-control" style="background-color: gray; color: black" type="reset"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#check").click(function(e) {
            e.preventDefault();
            var sqId = $("#qSelect").val();
            var answer = $("#qAnswer").val();
            var username = $("#username").val();

            $.ajax({
                type: 'POST',
                data: { username: username, sqId: sqId, answer: answer },
                url: '/My/ForgotPassword',
                success: function(response) {
                    if (response[0] == "success") {
                        alert(response[1]);
                        window.location.href = "/My/ResetPassword/" + response[2];
                    } else if (response[0] == "failure") {
                        alert(response[1]);

                    }

                },
                error: function(a, b, c) {

                }

            });
        });

    </script>
}

