@model EBBS.Data.User

<br />

<div>
    <h2><span class="mySpan"> My Profile</span></h2>
</div>

<hr />
<body id="grad">

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.userImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" align="left">
                <img class="circular--square" src="~/images/@Model.userImage" alt="No profile image found" width="200" height="200" />
                @*<img src="~/images/1.jpg" width="175" height="175" alt="no image found" />*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userId, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createTime, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.updateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.updateTime, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lastLogin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastLogin, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SecurityQuestion.question, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecurityQuestion.question, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answer, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role.roleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Role.roleName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>


        <div class="form-group" align="left">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success" onclick="location.href = '@Url.Action("MyEdit","My", new {  id = Model.userId  })'" type="button"><i class="glyphicon glyphicon-edit"></i> Edit My Profile</button> |
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#cpModal">Change Password</button>
            </div>
        </div>


    </div>


    <div>
        <div id="cpModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div>
                            <h2><span class="mySpan"> Change Password</span></h2>
                        </div>
                    </div>

                    <div class="modal-body" id="grad">
                        <br/>
                        
                        <div class="form-group" align="center">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input class="form-control" type="password" id="password" placeholder="Enter Current Password (*)" />
                                </div>
                            </div>

                        <div class="form-group" align="center">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input class="form-control" type="password" id="newpassword" placeholder="Enter New Password (*)" />
                                </div>
                            </div>

                        <div class="form-group" align="center">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input class="form-control" type="password" id="cpassword" placeholder="Enter Confirm Password (*)" />
                                </div>
                            </div>

                        </div>
                    
                    <div class="modal-footer" >
                        <div class="form-group" align="right">
                            <div class="col-md-offset-2 col-md-10">
                                <a href="#" class="btn btn-primary" id="cpBtn"><i class="glyphicon glyphicon-plus"></i> Change Password</a>
                                <button class="btn btn-info" type="button" data-dismiss="modal"><i class="glyphicon glyphicon-minus"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/myscripts.js"></script>


    <script>
        $("#cpBtn").click(function (e) {
            e.preventDefault();
            var password = $("#password").val();
            var newPassword = $("#newpassword").val();
            var confirmPassword = $("#cpassword").val();

            if (newPassword.length < 6) {
                alert("The password should be at least 6 characters!")
            } else if (newPassword != confirmPassword) {
                alert("Passwords do not match!");
            } else {
                $.ajax({
                    type: 'POST',
                    data: { password: password, newPassword: newPassword },
                    url: '/My/ChangeMyPassword',
                    success: function (response) {
                        alert(response);
                        window.location.href = "/Account/Login";
                    },
                    error: function (a, b, c) {

                    }


                });
            }

        });

    </script>

}
