@model EBBS.Models.UserUpdateModel

<br />
<br />
<div>
    <h2><span class="mySpan"> Update My Profile</span></h2>
</div>
<hr />
<body id="grad">
<div class="form-horizontal">
    <form id="userUpdateForm" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <span class="control-label col-md-2 text-left"><b>Profile Image:</b></span>
            <img align="left" src="~/images/@ViewBag.user.userImage" alt="not found" />
            <input type="file" id="userImage" name="userImage" accept="image/jpg, image/jpeg, video/mp4" />
        </div>

        <div class="form-group">
            <span class="control-label col-md-2 text-left"><b>First Name:</b></span>
            <input align="left" type="text" class="form-control" id="firstname" name="firstname" value="@ViewBag.user.firstName" placeholder="Enter FirstName (*)" />
        </div>

        <div class="form-group">
            <span class="control-label col-md-2 text-left"><b>Last Name:</b></span>
            <input type="text" class="form-control" id="lastname" name="lastname" value="@ViewBag.user.lastName" placeholder="Enter LastName (*)" />
        </div>


        <div class="form-group">
            <span class="control-label col-md-2 text-left"><b>Security Question:</b></span>

            <select id="questionId" name="qId" class="form-control">
                @foreach (var question in (List<EBBS.Data.SecurityQuestion>)ViewBag.securityQuestions)
                {
                    <option value="@question.qId" @if (question.qId == ViewBag.user.questionId) {<text>selected</text>}>@question.question</option>
                }
            </select>

        </div>

        <div class="form-group">
            <span class="control-label col-md-2 text-left"><b>Answer:</b></span>
            <input type="text" class="form-control" id="answer" name="answer" value="@ViewBag.user.answer" placeholder="Enter Answer (*)" />
        </div>

        <div class="form-group" align="left">
            <div class="col-md-offset-2 col-md-10">
            
                <button class="btn btn-success" id="saveChanges" onclick="updateUser()"> <i class="glyphicon glyphicon-edit"></i> Edit My Profile </button>
                <button class="btn" style="background-color: lightgray" type="reset"> <i class="glyphicon glyphicon-refresh"></i> Reset </button>
                <button class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "My")'" type="button"><i class="glyphicon glyphicon-minus"></i> Cancel</button>
            </div>
        </div>
    </form>
</div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
   
    <script>
        var updateUser = function() {
            var firstname = $("#firstname").val();
            var lastname = $("#lastname").val();
            //var username = $("#username").val();
            var qId = $("#questionId").val();
            var answer = $("#answer").val();
            var userImage = $("#userImage").get(0).files;

            var data = new FormData;
            data.append("firstname", firstname);
            data.append("lastname", lastname);
            //data.append("username", username);
            data.append("qId", qId);
            data.append("answer", answer);
            data.append("userImage", userImage[0]);


            $.ajax({
                type: 'POST',
                url: '/My/MyEdit',
                data: data,
                contentType: false,
                processData: false,
                success: function(response) {
                    alert(response);
                    window.location.href = "/My/Index/";
                },
                error: function(a, b, c) {
                    alert(c);
                }
            });


        };


    </script>
}